#header{
    background: midnightblue;color: white;
    font-size: 50px;
    line-height: 200px;
    height:200px;
    text-align: center;
  display: block;
 }
 body{
     width: 2000px;
 }
 #kafei{
  
    width: 40px;
 }
 
.content{
     width: 100%;
     background-color:#eee;
     
  
 }
 #daohan{
    width: 25%;
    float: left;
    vertical-align: top;
    top: 0;
   
 }
 
 #secondtable{
     width: 1600px;text-align: center;
 }
 #neirong{
     float: right;
     width: 70%;
     
 }
 #drink{
      float: right;
   width: 75%;
    background-color: #fff;
    
 }
 .tit{
     display: block;
     margin: 0 auto;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 #price{
     text-align: center
 }
 #price td:before{
    content: '￥';}
 
 #picture{
     width: 500px;
 }
 #last{
     width: 100%;
 }

 li a {
     display: block;
     color: #000;
     padding: 8px 16px;
     text-decoration: none;
 }
 li a:hover {
     background-color:blue;
     color: white;
 }
 li {
     text-align: center;
     border-bottom: 1px solid #555;
 }
 li:last-child {
     border-bottom: none;
 }
 h5:first-letter{
    font-size: 32px;
}li a:active {
    background-color:#d4380d;
    
}#indent{
    text-indent:50px;
}

.clear{
    clear: both;
}
#list{
   
}
#list ul{

    top:0px;
}