*{
    margin: 0;
    padding: 0;
}
.w{
    width: 1200px;
    margin: 0 auto;
}

.content{
    margin-top: 30px;
}
.page{
    text-align: center;
}
.thumbnail span{
    text-align: right;
}
.thumbnail img{
    height: 400px;
}
